<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <h2>Featured Books</h2>
            <img src="assets/img/home/books.jpg" alt="Featured Books Image" style="height: 400px; width: 600px;">
            <p>Explore our collection of handpicked books that cover a wide range of genres. From classics to
                contemporary bestsellers, there's something for every reader.</p>
        </div>
        <div class="col-md-6">
            <h2>Events and Readings</h2>
            <img src="assets/img/home/event.jpg" alt="Events and Readings Image" style="height: 400px; width: 600px;">
            <p>Join us for exciting events and author readings throughout the month. Check our calendar for upcoming
                activities and literary discussions.</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-4">
            <h2>Children's Corner</h2>
            <img src="assets/img/home/children.jpg" alt="Children's Corner Image" style="height: 200px; width: 400px;">
            <p>Discover a world of imagination in our Children's Corner. Engage your little ones with enchanting stories
                and interactive activities designed for young readers.</p>
        </div>
        <div class="col-md-4">
            <h2>Local Authors</h2>
            <img src="assets/img/home/author.webp" alt="Local Authors Image" style="height: 200px; width: 400px;">
            <p>Support local talent! Explore works by authors from our community. From poetry to novels, our local
                authors contribute diverse and unique perspectives.</p>
        </div>
        <div class="col-md-4">
            <h2>Book Club</h2>
            <img src="assets/img/home/bookClub.jpg" alt="Book Club Image" style="height: 200px; width: 400px;">
            <p>Join our book club for lively discussions and shared reading experiences. Connect with fellow book
                enthusiasts and dive into thought-provoking literature together.</p>
        </div>
    </div>
</div>
